* {
    padding: 0;
    margin: 0;
  }
  .box {
    height: 60px;
    width: 60px;
    border: 5px solid black;
    margin: 5px;
  }
  .container {
    height: 350px;
    width: 350px;
    padding: 10px;
    margin: 20px;
    border: 5px solid black;
    background-color: lightgray;
  
    display: grid;
    grid-template-columns: 65px 100px;
    grid-template-rows: 65px 100px;


    
  }
  h1 {
    text-align: center;
  }
  #box1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: rgb(56, 80, 101);
  }
  #box2 {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
    background-color: rgb(209, 230, 145);
  }
  #box3 {
    grid-row: 2/2;
    grid-column: 1/2;
    background-color: rgb(60, 146, 221);
  }
  #box4 {
    grid-row: 2/2;
    grid-column: 2/2;
    background-color: rgb(61, 61, 217);
  }
  #box5 {
    background-color: rgb(184, 188, 81);
  }
  #box6 {
    background-color: rgb(200, 51, 29);
  }
  